body {
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./assets/Plaza_de_la_Libertad_-_Universidad_de_Medellín\ 2.png);
  background-repeat: no-repeat;
  background-size: cover; /*resize the image to cover the entire container*/
  width: 100vw;
  height: 100vh;
}

div.signUpScreen::before {
  content: "";
  position: absolute;
  width: 512px;
  height: 700px;
  background: #d9d9d9;
  border-radius: 50px;
  mix-blend-mode: screen;
}

div.signUpScreen{
  color: #000;
  width: 512px;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center; /*center horizontaly*/
  align-items: center; /*center vertically*/
}

.signUpForm {
  
  font: inherit;
  line-height: 24px;
}

#Registro{
  position: relative;
}
