body {
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./assets/Plaza_de_la_Libertad_-_Universidad_de_Medellín\ 2.png);
  background-repeat: no-repeat;
  background-size: cover; /*resize the image to cover the entire container*/
  width: 100vw;
  height: 100vh;
}

div.signUpScreen::before {
  content: "";
  position: absolute;
  width: 512px;
  height: 700px;
  background: #d9d9d9;
  border-radius: 50px;
  mix-blend-mode: screen;
}

div.signUpScreen{
  color: #000;
  width: 512px;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center; /*center horizontaly*/
  align-items: center; /*center vertically*/
}

.signUpForm {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 650px;
  font: inherit;
  line-height: 24px;
}

.Field{
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.Field input{
  height: 30px;
  border-radius: 50px;
}

#radioInput{
  display: flex;
  height: 150px;
  /* align-items: center; */
  justify-items: center;
}

.selectionObject{
  display: flex;
}


.submitButton{
  background-color: #D92127;
  color: #fff;
  width: 185px;
  height: 50px;
  border-radius: 50px;

  margin-left: 90px;
  margin-right: 90px;

  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
}

#Registro{
  
  height: 700px;
  position: relative;
}

#titleRegistro  {
  text-align: center;
  height: 54px;
  margin-bottom: 0px;
  margin-left: 20px;
  margin-right: 20px;
  font-style: italic;
  font-weight: 100;
  font-size: 50px;
  line-height: 61px;
}

#root{
}