body {
    margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./assets/Plaza_de_la_Libertad_-_Universidad_de_Medellín\ 2.png);
  background-repeat: no-repeat;
  background-size: cover; /*resize the image to cover the entire container*/
  width: 100vw;
  height: 100vh;
}

.signUpScreen {
  width: 512px;
  height: 700px;
  background: #d9d9d9;
  mix-blend-mode: screen;
  border-radius: 50px;

  display: flex;
  justify-content: center; /*center horizontaly*/
  align-items: center; /*center vertically*/
}

.signUpForm{
    font: inherit;
    color: black;
    line-height: 24px;
}
